server {

        ssl    on;
        ssl_certificate    /etc/letsencrypt/certificates/adrian-galicia.dev/combined.pem;
        ssl_certificate_key /etc/letsencrypt/certificates/adrian-galicia.dev/domain.key;

        listen 443;
        server_name {{ domain_name }};

        access_log   /var/log/nginx/ssl-{{ domain_name }}.access.log;
        error_log    /var/log/nginx/ssl-{{ domain_name }}.error.log;

        root /var/www/{{ domain_name }};
        index index.php;

        location / {
                try_files $uri $uri/ /index.php?$args;
        }

       location ~ \.php$ {
            try_files $uri =404;
            fastcgi_split_path_info ^(.+\.php)(/.+)$;
            fastcgi_pass unix:/var/run/php/php{{ php_version }}-fpm.sock;
            fastcgi_index index.php;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            include fastcgi_params;
        }
}